
@{
    ViewBag.Title = "Index";
}

<h2>Cadastro de Cliente</h2>
<form method="post" action="Cadastrar">
    Codigo:<input type="text" name="cliente.Codigo" />
    <br />
    Nome: <input type="text" name="cliente.Nome" />
    <br />
    Idade: <input type="text" name="cliente.Idade" />
    <br />
    <input type="submit" />
</form>

